<div class="container">
  <div class="row">
    <div class="col">
      <h4>Mitarbeiter-Liste</h4>
    </div>
    <div class="col"></div>
    <div class="col">
      <div class="row">
        <div class="col-1 center-items">
          <span class="material-icons text-success cursor-pointer" [routerLink]="['/employee/editor']">add</span>
        </div>
        <div class="col-7" id="searchBox">
          <form (submit)="searchForString()">
            <input class="form-control form" placeholder="Suche..." 
            [(ngModel)]="searchValue" name="searchValue"/>
          </form>
        </div>
        <div class="col-1 center-items">
            <span class="material-icons text-success cursor-pointer" (click)="searchForString()">search</span>
        </div>
        <div class="col-1 center-items">
          <span class="material-icons text-success cursor-pointer" (click)="fetchData()">
            <ng-container *ngIf="isSearchModeEnabled(); else reload">backspace</ng-container>
            <ng-template #reload>refresh</ng-template>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let e of employees$ | async">
          <tr class="tr-hover" [routerLink]="['/employee/', e.id]">
            <td>{{e.id}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div *ngIf="(employees$ | async)?.length === 0">
    <p>Es wurden keine Mitarbeiter*innen gefunden.</p>
  </div>
</div>