<div class="container">
  <div class="row">
    <div class="col">
      <h4>Mitarbeiter-Liste</h4>
    </div>
    <div class="col"></div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input class="form-control" placeholder="Suche...">
        </div>
        <div class="col">
          <button class="btn btn-primary">Suchen</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Vorname</th>
        <th>Nachname</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let e of employees$ | async">
          <tr>
            <td>{{e.id}}</td>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>