@import '~bootstrap/dist/css/bootstrap.css';
@import 'material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.form-control:focus{
    border-color: #5cb85c;  
    box-shadow: 0px 0px 0px 5px #5cb85c3d; 
    -webkit-box-shadow: #5cb85c;
} 

.cursor-pointer {
    cursor: pointer;
}

.center-items {
    display: grid;
    align-items: center;
}